.App{
  margin-top: 60px;
  h1 {text-align: center;}
}
.todo-form {
  padding: 20px;

  .add-todo {
    margin-bottom: 20px;
  }
}

.todo-list{
  margin-top: 20px;
  padding: 20px 0;

  .todo-item {
    margin: 10px 20px ;
    padding: 10px 20px;
  }
}